---
BasedOnStyle: LLVM
ColumnLimit: 88
AccessModifierOffset: -4
DerivePointerAlignment: false
IndentWidth: 4
#AlignConsecutiveAssignments: AcrossComments
# AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveBitFields: Consecutive
ReferenceAlignment: Left
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentAccessModifiers: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
BreakConstructorInitializers: BeforeComma
SpaceBeforeCpp11BracedList: true
AllowAllConstructorInitializersOnNextLine: true
